<h1>Запись</h1>
<form action ="/visit" method ="POST" >
  <div class="form-group">
    <label for="exampleInputEmail1">Email address</label>
    <input name="username" type="email" class="form-control" placeholder="You`re Email">
  </div>


  </div>
  <button type="submit" class="btn btn-default">Submit</button>
</form>